.bg-button {
    background-color: var(--secondary-color);
    color: #FFFFFF;

    width: 100%;
    height: 2.5rem;

    border-radius: var(--border-radius);
    border: none;

    margin-bottom: 1rem;

    cursor: pointer;
}