.card {
    max-width: 280px;

    color: #FFFFFF;

    text-align: center;

    cursor: pointer;
}

.card .card-content {
    width: 100%;
    height: clamp(235px, 60vw, 345px);
}

.card h5 {
    text-align: center;

    color: #FFFFFF;

    margin-top: .375rem;
}

.card .card-content img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}